/* ==UserStyle==
@name           Forums Dark Mode
@namespace      github.com/RafaelFunchal/wpcom-forums/dark-mode.user.css
@homepageURL    https://github.com/RafaelFunchal/wpcom-forums/#dark-mode
@updateURL      https://github.com/RafaelFunchal/wpcom-forums/raw/master/dark-mode.user.css
@version        0.1.7
@description    Add a Dark Theme to the WordPress.com forums
@author         RafaelFunchal
==/UserStyle== */

@-moz-document regexp("https://wordpress.com/.?.?/?forums/.*"), regexp("https://.?.?.?wordpress.org/support/(forum|plugin|theme|topic)/.*") {
	/**
	 * Variables
	 */
	:root {
		--text-primary: #fff;
		--text-secondary: #23282d;
		--text-links: #1e8cbe;
		--text-links-hover: #0074a2;
		--bg-primary: #23282d;
		--bg-secondary: #3c434a;
		--bg-sticky: #4c555e;
		--padding: 1em;
		--borders: 1px solid var(--bg-primary);
	}
	
	/**
	 * General Colors
	 */
	body,
	.site {
		background-color: var(--bg-primary);
		color: var(--text-primary);
	}

	#bbpress-forums * {
		border: none !important;
	}
	
	.bbp-user-page #bbpress-forums #bbp-user-body * {
		border: var(--borders) !important;
	}
	
	body:not(.single) #bbpress-forums,
	.single-forum #bbpress-forums .bbp-topics,
	#bbpress-forums .bbp-replies {
		background-color: var(--bg-secondary);
		padding: var(--padding);
	}
	
	.site p,
	.site a,
	.bbp-reply-content *,
	.widget .widget-title,
	.bbp-header,
	.bbp-header li,
	.widget-area :not(form),
	.topic,
	#footer h4,
	#bbpress-forums head,
	.bbp-reply-author *,
	.bbp-footer {
		color: var(--text-primary);
	}

	#bbpress-forums div.bbp-forum-header,
	#bbpress-forums div.bbp-topic-header,
	#bbpress-forums div.bbp-reply-header {
		background-color: var(--bg-primary);
		color: var(--text-primary);
	}
	
	#bbpress-forums div.bbp-forum-header a,
	#bbpress-forums div.bbp-topic-header a,
	#bbpress-forums div.bbp-reply-header a {
		color: var(--text-primary);
	}

	#bbpress-forums li.bbp-header,
	#bbpress-forums li.bbp-footer,
	#bbpress-forums div.even,
	#bbpress-forums ul.even, 
	#bbpress-forums div.odd,
	#bbpress-forums ul.odd,
	#notes,
	#comments.comments-area {
		background-color: transparent;
	}

	body:not(.single-topic) #bbpress-forums .topic:hover {
		background-color: var(--bg-primary);
	}

	body.single-topic .bbp-reply-form code,
	#bbpress-forums div.bbp-reply-content code,
	body.single-forum .bbp-topic-form code {
		background-color: var(--bg-secondary);
		color: var(--text-primary);
		border: none;
	}
	
	#bbpress-forums div.bbp-reply-content blockquote,
	#bbpress-forums div.bbp-reply-content blockquote *,
	#bbpress-forums div.bbp-reply-content code,
	#bbpress-forums div.bbp-reply-content code *,
	#bbpress-forums div.bbp-reply-content pre,
	#bbpress-forums div.bbp-reply-content pre *{
		background-color: var(--bg-primary);
		color: var(--text-primary);
		padding: calc( var(--padding) / 4);
	}
	
	.bbp-template-notice,
	.bbp-template-notice p{
		color: var(--text-secondary);
	}
	#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a {
		background-color: var(--bg-secondary);
	}

	/**
	 * Content Links
	 */
	 #bbpress-forums .bbp-body .bbp-reply-content a{
		color: var(--text-links);
	}
	#bbpress-forums .bbp-body .bbp-reply-content a:hover {
		color: var(--text-links-hover);
	}

	/**
	 * Forms
	 */
	#topic_tags_tag_input,
	#topic-resolved {
		color: var(--text-secondary);
		margin-bottom: var(--padding);
	}

	#bbpress-forums fieldset.bbp-form div.bbp-the-content-wrapper textarea.bbp-the-content,
	fieldset.bbp-form input, input#topic_tags_tag_input,
	#staff-notes-loaded textarea,
	#notes {
		background-color: var(--bg-secondary);
		border: none;
		color: var(--text-primary);
		padding: var(--padding);
	}
	
	#bbpress-forums fieldset.bbp-form div.bbp-the-content-wrapper textarea.bbp-the-content {
		margin-top: var(--padding);
	}
	
	.reply-edit #bbpress-forums fieldset.bbp-form div.bbp-the-content-wrapper textarea,
	.reply-edit #bbpress-forums fieldset.bbp-form input,
	body.reply-edit .bbp-reply-form code {
		background-color: var(--bg-primary);
	}

	#bbpress-forums ul.bbp-replies,
	#bbpress-forums fieldset.bbp-form {
		border: none;
	}
	
	/**
	 * Sticky Yopics
	 */
	#bbpress-forums .bbp-topics-front ul.super-sticky,
	#bbpress-forums .bbp-topics ul.super-sticky,
	#bbpress-forums .bbp-topics ul.sticky,
	.bbp-forum-content ul.sticky {
		background-color: var(--bg-sticky) !important;
	}

	#bbpress-forums .bbp-topics-front ul.super-sticky li,
	#bbpress-forums .bbp-topics ul.super-sticky li,
	#bbpress-forums .bbp-topics ul.sticky li,
	.bbp-forum-content ul.sticky li,
	#bbpress-forums .bbp-topics-front ul.super-sticky li a,
	#bbpress-forums .bbp-topics ul.super-sticky li a,
	#bbpress-forums .bbp-topics ul.sticky li a,
	.bbp-forum-content ul.sticky li a {
		color: var(--text-secondary);
	}

	#bbpress-forums .bbp-topics-front ul.super-sticky:hover li,
	#bbpress-forums .bbp-topics ul.super-sticky:hover li,
	#bbpress-forums .bbp-topics ul.sticky:hover li, 
	.bbp-forum-content ul.sticky:hover li,
	#bbpress-forums .bbp-topics-front ul.super-sticky:hover li a,
	#bbpress-forums .bbp-topics ul.super-sticky:hover li a,
	#bbpress-forums .bbp-topics ul.sticky:hover li a, 
	.bbp-forum-content ul.sticky:hover li a {
		color: var(--text-primary);	
	}
	
	/**
	 * Pagination
	 */
	.bbp-pagination-links a:hover,
	.bbp-pagination-links span.current {
		background-color: var(--bg-secondary);
	}
	
	/**
	 * Buttons
	 */
	#bbp_reply_submit,
	.button-primary,
	a.button-primary,
	.site-content input[type="submit"],
	.widget-area .button-primary,
	.widget-area a.button-primary,
	.widget-area input[type="submit"],
	#bbp_merge_topic_submit,
	#bbp_topic_submit {
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0,116,162,.8);
		background-color: #0074a2;
		background-image: -moz-linear-gradient(top,#1e8cbe 0%,#0074a2 100%);
		background-image: -webkit-linear-gradient(top,#1e8cbe 0%,#0074a2 100%);
		background-image: -ms-linear-gradient(top,#1e8cbe 0%,#0074a2 100%);
		background-image: -o-linear-gradient(top,#1e8cbe 0%,#0074a2 100%);
		background-image: linear-gradient(top,#1e8cbe 0%,#0074a2 100%);
		-moz-box-shadow: inset 0 1px 0 #1e8cbe,inset 0 2px 0 rgba(120,200,230,.5);
		-webkit-box-shadow: inset 0 1px 0 #1e8cbe,inset 0 2px 0 rgba(120,200,230,.5);
		-o-box-shadow: inset 0 1px 0 #1e8cbe,inset 0 2px 0 rgba(120,200,230,.5);
		-ms-box-shadow: inset 0 1px 0 #1e8cbe,inset 0 2px 0 rgba(120,200,230,.5);
		box-shadow: inset 0 1px 0 #1e8cbe,inset 0 2px 0 rgba(120,200,230,.5);
	}

	#bbp_reply_submit:focus,
	.button-primary:focus,
	a.button-primary:focus,
	.site-content input[type="submit"]:focus,
	.widget-area .button-primary:focus,
	.widget-area a.button-primary:focus,
	.widget-area input[type="submit"]:focus,
	#bbp_merge_topic_submit:focus,
	#bbp_topic_submit:focus,
	#bbp_reply_submit:hover,
	.button-primary:hover,
	a.button-primary:hover,
	.site-content input[type="submit"]:hover,
	.widget-area .button-primary:hover,
	.widget-area a.button-primary:hover,
	.widget-area input[type="submit"]:hover,
	#bbp_merge_topic_submit:hover,
	#bbp_topic_submit:hover {
		background-color: #0074a2;
		background-image: none;
	}
	
	/**
	 * WordPress.org Forums Tweaks
	 */
	.sidebar h4,
	.sidebar .forum-info li::before,
	.sidebar .topic-info li::before,
	.sidebar div ul li a::before,
    .bbpress #bbpress-forums p.bbp-topic-meta a {
		color: var(--text-primary);
	}

	#wporg-footer {
		background-color: var(--bg-primary);
	}
	
	#wporg-footer .cip-image {
		background-color: var(--text-primary);
		padding: var(--padding);
	}
	
	#wordpress-org.single-topic .entry-content #bbpress-forums ul.bbp-lead-topic li.bbp-body div.topic,
	#wordpress-org.single-topic .entry-content header,
	#wordpress-org.single-topic .entry-content #bbpress-forums div.odd,
	#wordpress-org.single-topic .entry-content #bbpress-forums div.even {
		background: transparent;
		border: none;
	}
	#wordpress-org.single-topic #bbpress-forums {
		padding: var(--padding);
	}
	
	#wordpress-org.single-topic #bbpress-forums,
	#wordpress-org.single-topic .entry-content header{
		background-color: var(--bg-secondary);
	}
	
	#wordpress-org.single-topic #bbpress-forums textarea,
	#wordpress-org.single-topic #bbpress-forums input:not(.ed_button) {
		background-color: var(--bg-primary);
	}
    
    #wordpress-org #bbpress-forums .bbp-topics ul.topic-replied-by-support li,
    #wordpress-org #bbpress-forums .bbp-topics ul.topic-replied-by-support li a,
    #wordpress-org #bbpress-forums .bbp-topics ul.topic-replied-by-support li span,
    #wordpress-org #bbpress-forums .bbp-topics ul.topic-resolved li,
    #wordpress-org #bbpress-forums .bbp-topics ul.topic-resolved li a,
    #wordpress-org #bbpress-forums .bbp-topics ul.topic-resolved li span {
        color: var(--text-secondary);
    }
    
    #wordpress-org #bbpress-forums .bbp-topics-front ul.super-sticky li,
	#wordpress-org #bbpress-forums .bbp-topics ul.super-sticky li,
	#wordpress-org #bbpress-forums .bbp-topics ul.sticky li,
	#wordpress-org .bbp-forum-content ul.sticky li,
	#wordpress-org #bbpress-forums .bbp-topics-front ul.super-sticky li a,
	#wordpress-org #bbpress-forums .bbp-topics ul.super-sticky li a,
	#wordpress-org #bbpress-forums .bbp-topics ul.sticky li a,
	#wordpress-org .bbp-forum-content ul.sticky li a,
    #wordpress-org #bbpress-forums .bbp-topics-front ul.super-sticky li span,
	#wordpress-org #bbpress-forums .bbp-topics ul.super-sticky li span,
	#wordpress-org #bbpress-forums .bbp-topics ul.sticky li span,
	#wordpress-org .bbp-forum-content ul.sticky li span {
		color: var(--text-primary);
	}
    
    #wordpress-org #bbpress-forums fieldset.bbp-form div.bbp-the-content-wrapper textarea.bbp-the-content,
    #wordpress-org fieldset.bbp-form input,
    #wordpress-org input#topic_tags_tag_input,
    #wordpress-org #staff-notes-loaded textarea,
    #wordpress-org #notes {
        border: 1px solid var(--bg-sticky) !important;
    }
	
	/**
	 * Tweaks when the Localized Support script is in use
	 */
	.single-topic .topic {
		opacity: 1 !important;
	}
	.site > div > span {
		color: var(--text-secondary);
	}
}
